@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";


//Sprites
@import "../images/icons/social/*.png";
@include all-social-sprites;
//susy
$susy: (
	columns: 		12,
	container: 	85em,
	gutters: 		1/4,
	gutter-position: split,
	box-sizing:border-box
	);
// $shorthand: 12 1/4 fluid float inside;

//breakpoint
$phone: 	400px		;
$tablet:	650px		;
$laptop:	960px		;
$desktop:	1200px	;

//fonts

$thin 							: 200 ;
$normal 						: 400 ;
$bold 							: 600 ;
$heavy							: 800 ;

a{
	text-decoration: none; 
}
li{
	list-style: none; 
}

.active{
	@include motion(-webkit-filter, .5s);
	@include filter(blur(3px));
}//active
.deactivate{
	@include motion(-webkit-filter, 1.5s);
	@include filter(blur(0px));
}

// colors
$cream : #E9E7D8 ; 
$beige : #BCB9B4 ;


//side_nav

// after:
.side_nav{
	 width:150px;
	@include position(absolute, null, 0px);
	background: #222; 
	ul{
		// border: 7px double #333;
		z-index: 100;
		margin: 0 20px; 
		padding:7px;
		display:block;
		@include position(relative, 15%, 0px);
		li{
			list-style: none;
			text-align: center;
			a{
				padding:10px 15px;
				display: inline-block; 
				text-decoration: none;
				@include fontspec('Raleway', #fff, 18px, 400);
			}//a
		}//li
	}//ul
}//side_nav

//nav marked
.marked{
	display: inline-block;
	position: relative;
	&:after {
		content: '';
		display: block;
		margin: 3px auto auto auto;
		height: 1px;
		width: 0px;
	}
	&:after {
		width: 100%;
		background: #fff;
		line-height: 10px; 
	}
}
//nav unmarked
.unmarked{
	transition: color ease 1s;
	
	&:hover{
	color:hotpink;
	}	
}
