@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";


//Sprites
@import "../images/icons/social/*.png";
@include all-social-sprites;
//susy
$susy: (
	columns: 		12,
	container: 	85em,
	gutters: 		1/4,
	gutter-position: split,
	box-sizing:border-box
	);
// $shorthand: 12 1/4 fluid float inside;

//breakpoint
$phone: 	400px		;
$tablet:	650px		;
$laptop:	960px		;
$desktop:	1200px	;

//fonts

$thin 							: 200 ;
$normal 						: 400 ;
$bold 							: 600 ;
$heavy							: 800 ;

a{
	text-decoration: none; 
}
li{
	list-style: none; 
}

.active{
	@include motion(-webkit-filter, .5s);
	@include filter(blur(3px));
}//active
.deactivate{
	@include motion(-webkit-filter, 2s);
	@include filter(blur(0px));
}