@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";


//Sprites
@import "../images/icons/social/*.png";
@include all-social-sprites;
//susy
$susy: (
	columns: 		12,
	container: 	85em,
	gutters: 		1/4,
	gutter-position: split,
	box-sizing:border-box
	);
// $shorthand: 12 1/4 fluid float inside;

//breakpoint
$phone: 	400px		;
$tablet:	650px		;
$laptop:	960px		;
$desktop:	1200px	;

//fonts

$thin 							: 200 ;
$normal 						: 400 ;
$bold 							: 600 ;
$heavy							: 800 ;

a{
	text-decoration: none; 
}
li{
	list-style: none; 
}

.active{
	@include motion(-webkit-filter, .5s);
	@include filter(blur(3px));
}//active
.deactivate{
	@include motion(-webkit-filter, 1.5s);
	@include filter(blur(0px));
}

// colors
$cream : #E9E7D8 ; 
$beige : #BCB9B4 ;


//side_nav
// brefore
.none{
	display:none;
}
// after:
.side_nav{
	 width:150px;
	@include position(absolute, null, 0px);
	background: #222; 
	
	// @include motion(width, 2s, ease, 2s);
	// &:hover{
	// 	width:0;
	// }
	ul{
		// border: 7px double #333;
		z-index: 100;
		margin: 0 20px; 
		padding:7px;
		display:block;
		@include position(relative, 15%, 0px);
		li{
			list-style: none;
			text-align: center;
			a{
				padding:10px 15px;
				text-decoration: none;
				@include fontspec('Raleway', #fff, 18px, 400);
				@include underline_mid_effect(#fff, 2px, 0.4s);
			}//a
		}//li
	}//ul
}//side_nav



//backup
// .side_nav{
// 	 width:150px;
// 	@include position(absolute, 0px, 0px, 0px);
// 	background: #222; 

// 	// @include motion(width, 2s, ease, 2s);
// 	// &:hover{
// 	// 	width:0;
// 	// }
// 	ul{
// 		z-index: 999;
// 		margin: 150px 0; 
// 		padding:0;
// 		display:block;
		
// 		li{
// 			list-style: none;
// 			text-align: center;
// 			a{
// 				padding:10px 15px;
// 				text-decoration: none;
// 				@include fontspec('Raleway', #fff, 18px, 400);
// 				@include underline_mid_effect(#fff, 2px, 0.4s);
// 			}//a
// 		}//li
// 	}//ul
// }//side_nav