#cover {
	// @include clear_fix;
	background-color:#272829;
	
	.fullheightMid{
		@include container(94%);
		@include backImg("http://s23.postimg.org/tw95lhrqj/firstpage2.jpg", 1100px,null, 50% -225px);
		.yoworld{
			@include position(relative, 200px);
			text-align: center;
			@include container(80%);
			background: #000;
			background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			color: #FFF; 
			// @include span(3 at 3 of 1);
			
			h1{
				@include fontspec('Courier New',#fff, 26px, $normal);
				margin:0;
			}//h1
		}//yoworld
	}//fullheight
}//cover

@include breakpoint($phone $tablet){
	#cover{	
		.fullheightMid{
			@include container(98%);
			@include backImg("http://s13.postimg.org/5hv99n4bb/firstpage2.jpg", cover, null);
			.yoworld{
				@include position(relative, 21%);
				text-align: center;
				h1{
				@include fontsize(20px);
				}
			}
		}
	}
}