//global
#nav{
	display: -webkit-flex;
 	display: flex;
 	flex-direction: row-reverse;
	ul{
		padding: 0;
		margin-right: 30px;
		li{
			display: inline-block;
			a{
				padding:10px 15px;
				text-align: center;
				display: inline-block;
				text-decoration: none;
				@include fontspec('Raleway', #333, 16px, $bold);
				@include underline_mid_effect(#333, 2px, 0.4s);
			}//a
		}//li
	}//ul
}//nav

@include breakpoint($phone 1019px){
	#nav{
		-webkit-justify-content: center;
    justify-content: center;
		ul{
			margin-right: 0;
		}//ul
	}//nav
}//halfwin




//secondary_nav
#secondary_nav{
	background: #222;
	width:130px;
	display: inline-block;
	float: right;
	ul{
		text-align: center;
		padding:0;
		li{
			list-style: none;
			a{
				padding:15px 25px;
				display: inline-block; 
				text-decoration: none;
				@include fontspec('Raleway', #fff, 16px, $normal);
			}//a
		}//li
	}//ul
}//secondary_nav

@include breakpoint($phone $halfWin){
	#secondary_nav{
		width:100%;
		display: block;
		float:none;
	ul{
		margin:0 auto;
		li{
				display:inline-block;		
			}//li
		}//ul
	}//secondary_nav
}//halfWin


