//global settings
#projects{
	display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  position: relative;
	.tiles{
		@include container(90%);
		padding: 17px; 
		border: 8px double white;
		background-clip: padding-box;
		background-color: darken($beige, 15);
		a{
			img{
				vertical-align: text-bottom;
				max-width:100%;
			}//img
		}//a
	}//tiles
}//projects
@include breakpoint(min-width 870px){
	#projects{
		.tiles{
			a{
				.hr{margin-bottom: 2px; }
				@include gallery(1 of 3 1/70 before);
				img{
				}
			}//a
		}//tiles
	}//projects
}//firstBreak
@include breakpoint($tablet 870px){
	#projects{
		.tiles{	
			padding: 17px; 
			a{
				@include gallery(2 of 4 1/70 before);
			}//a
		}//tiles
	}//projects
}//firstBreak
@include breakpoint($phone $tablet){
	#projects{
		overflow-y:auto; 
		display:block;
		.tiles{
			text-align: center;
			a{
				margin:0;
				img{
					
				}//img
			}//a
		}//tiles
	}//projects
}//fullwin