#projects{
	display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
	.tiles{
		@include container(1000px);
		border: 8px double white;
		background-clip: padding-box;
		padding: 20px; 
		background-color: darken($beige, 15);
		hr{margin: 0}
		a{	
			@include gallery(1 of 3 1/70 before);
			.hr{margin-bottom: 2px}
			img{
				vertical-align: bottom;
			}//img
		}//a
	}//tiles
}//projects

			